<!DOCTYPE html>
<html>
    <head>
        <title>Vue Assignment</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header>
            <h1>Vue Assignment</h1>
        </header>
        <section id="assignment">
            <input type="text" v-model="enteredTask" />
            <button @click="addTask">Add Task</button>
            <ul v-show="hide" v-for="(task, index) in tasks">
                <li>{{task}} - {{index}}</li>
            </ul>
            <button @click="toggleShow">{{buttonCaption}}</button>
        </section>
    </body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</html>